<head>
	<meta name="description" content="Size42 first universal size convertor for cloths">
	<meta name="keywords" content="Size, convertor, sales, cloths, find the good size, L, M, XL, XXL">

	<!-- Google Analytics-->
	        <script>
	          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	          ga('create', 'UA-50762366-1', 'auto');
	          ga('send', 'pageview');

	        </script>
	        
	<link href="http://size42.me/tools/style.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="http://size42.me/favicon16x16@2x.png">
	<script type="text/javascript" src="http://size42.me/tools/jquery.min.js"></script> 
	<script type="text/javascript" src="http://size42.me/tools/cufon-yui.js"></script>
	<script type="text/javascript" src="http://size42.me/tools/Abraham_Lincoln_400.font.js"></script>
	<script type="text/javascript" src="http://size42.me/tools/Inspiration_400.font.js"></script>
	<script type="text/javascript" src="http://size42.me/tools/Museo_Slab_100_400-Museo_Slab_700_400.font.js"></script>
	<script type="text/javascript">
		Cufon.replace('.logo h1', {fontFamily: 'Inspiration'});
		Cufon.replace('.logo h2', {fontFamily: 'Museo Slab 100'});
		Cufon.replace('.logo h2 span', {fontFamily: 'Abraham Lincoln'});
		Cufon.replace('p.big_text, p.small_text', {fontFamily: 'Museo Slab 100'});
		Cufon.replace('p.big_text strong, p.small_text strong', {fontFamily: 'Museo Slab 700'});
	</script>


</head>

<body>
	<div id="transy">
	</div>
	<div id="wrapper">
		<div class="logo"><img src="http://size42.me/images/Size42-logo173x60.png" width="173" heigh="60"></div>
		<div class="content">
			<p class="big_text" lang="en">Very soon<strong> the first universal size convertor</strong> !</p>
			<p class="small_text" lang="en"><strong>Be the first informed.</strong> Give us your email address.</p>
			<div class="form">
				<div class="field_content">
				<form action="http://size42.us8.list-manage1.com/subscribe/post" method="POST">
	<input type="hidden" name="u" value="5f1d3b0aa055abcc0626b561f">
	<input type="hidden" name="id" value="4e970a1e86">

	<!-- 
					<input class="field" type="text"  />
	 -->
					<input class="field" type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">
					<input class="submit" type="submit" name="submit" value="" />
					</form>
				</div>
			</div>
			<div class="clear"></div>
			<ul class="social">
	<!-- 
				<li class="pinterest"><a href="#"></a></li>
				<li class="instagram"><a href="#"></a></li>
	 -->
				<li class="twitter"><a href="https://twitter.com/Size42App" target="_blank"></a></li>
				<li class="facebook"><a href="https://www.facebook.com/size42app" target="_blank"></a></li>
			</ul>
			
			
		</div>
	</div>

</body>

<template name="layoutHome">
  {{>yield}}
</template>